---
- name: install
  ansible.builtin.apt:
    name: "{{ item }}"
  loop:
    - pmount
    - psmisc
    - alsa-utils
    - pulseaudio
    - pulseaudio-utils
    - pavucontrol
    - pulseaudio-module-bluetooth
    - bluez
    - bluez-firmware
    - bluetooth
    - blueman
    - xinit
    - network-manager
    - keychain
    - gmtp
    - gvfs-backends
    - power-profiles-daemon
  become: yes

- name: Symlink xinitrc
  ansible.builtin.file:
    src: "{{ role_path }}/files/xinit/.xinitrc"
    dest: ~/.xinitrc
    state: link
    force: yes

- name: Ensure .profile contains startx command
  ansible.builtin.lineinfile:
    path: ~/.profile
    line: "if [[ -z $DISPLAY ]] && [[ $(tty) = /dev/tty1 ]]; then exec startx; fi"
    state: present
    insertafter: EOF
    create: yes

- name: Check if rpi imager installed
  ansible.builtin.command: rpi-imager --version
  register: rpi_imager_version
  ignore_errors: yes
  changed_when: false

- name: Download rpi imager
  ansible.builtin.get_url:
    url: https://downloads.raspberrypi.org/imager/imager_latest_amd64.deb
    dest: /tmp/imager_latest_amd64.deb
  when: rpi_imager_version.rc != 0

- name: Install rpi imager
  ansible.builtin.apt:
    deb: /tmp/imager_latest_amd64.deb
  become: yes
  when: rpi_imager_version.rc != 0
